<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">
      <img class="rounded-circle" src="../assets/Kenny_Parkinson_1.jpg" alt="" style="height: 100px; width: auto;"> I love to learn.</h1>
      <ul class="lead">
        <li>3 years of software development experience. Javascript, .NET Core, Java.</li>
        <li>2 years as a student software tester while getting my BS in Computer Science from Utah State.</li>
        <li>Lately I've been tinkering with Flutter and Dart.</li>
      </ul>
    <!--<hr class="my-4">
  <p>Please explore the webpage to find out more about me.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>-->
  </div>
</div>
