<div class="jumbotron jumbotron-fluid" style="padding-top: 16px;">
  <div class="container">
    <h1 class="display-3">Skills</h1>
    <p class="lead">I have experience with the following technologies.</p>
    <div class="d-flex flex-wrap">
      <div class="card p-2" *ngFor="let skill of skills">
        <div class="card-body skill-card">
          <h2><img *ngIf="skill.img" src="{{skill.img}}" alt="..." class="rounded skill-logo">{{skill.name}}</h2>  
        </div>
      </div>
    </div>
  </div>
</div>
