<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/landing">Kenny Parkinson</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed"
    aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
        <a class="nav-link" routerLink="/education">Education <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
        <a class="nav-link" routerLink="/jobs">Job Experience</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
        <a class="nav-link" routerLink="/skills">Skills</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
<router-outlet></router-outlet>